
@font-face {
  font-family: Orbitron;
  font-style: normal;
  src: url("/font/Orbitron.ttf");
  size-adjust: 89.5%;
}

@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 400;
  src: url("/font/FiraCodeNerdFontMono-Regular.ttf");
  size-adjust: 94.5%;
}

@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 700;
  src: url("/font/FiraCodeNerdFontMono-Bold.ttf");
  size-adjust: 94.5%;
}

@font-face {
  font-family: Julee;
  font-style: normal;
  src: url("/font/Julee-Regular.ttf");
  size-adjust: 110%;
}

@font-face {
  font-family: CrimsonPro;
  font-style: normal;
  src: url("/font/CrimsonPro.ttf");
  size-adjust: 124%;
}

@font-face {
  font-family: CrimsonPro;
  font-style: italic;
  src: url("/font/CrimsonPro-Italic.ttf");
  size-adjust: 124%;
}
