{% extends "base.html" %}

{% block content %}
    <header>
        <div class="hero">
        <picture>
           <source srcset="/images/menu-anvil.avif" type="image/avif">
           <source srcset="/images/menu-anvil.webp" type="image/webp">
           <img src="/images/menu-anvil.jpg" alt="Hero image">
        </picture>
            <nav class="menu">
                <a href="/articles" class="nav-button">Articles</a>
                <a href="/code" class="nav-button">Code</a>
                <a href="/contact" class="nav-button">Contact</a>
                <a href="/about" class="nav-button selected">About</a>
            </nav>
            <h1 class="site-title"><a href="/">Laranja's Rust Shop</a></h1>
        </div>
    </header>
    <main>
        <section>
          {{ page.content | safe }}
        </section>
    </main>
{% endblock content %}

