{% extends "base.html" %}

{% block content %}
<section class="articles" aria-label="Articles Section">
  <p class="intro center">Dive into articles on Rust programming, design patterns, and open-source insights from <a href="/about">Frank Laranja</a></p>
  <div class="article-grid">
  {%- for page in section.pages %}
    <div class="card">
    <p class="date">{{ page.date }}</p>
    {%- if page.extra.image %}
    <p class="center"><picture>
        <source srcset="{{ page.permalink | safe }}{{ page.extra.image }}.avif" type="image/avif">
        <source srcset="{{ page.permalink | safe }}{{ page.extra.image }}.webp" type="image/webp">
        <img src="{{ page.permalink | safe}}{{ page.extra.image }}.png" alt="{{ page.extra.image_alt | default(value='Icon for ' ~ page.title) }}" class="page.image">
    </picture></p>
    {%- endif %}
    <h2>{{ page.title }}{% if page.extra.subtitle %} <span class="subtitle">{{ page.extra.subtitle }}</span>{% endif %}</h2>
    {%- if page.extra.summary %}
    <p class="summary">{{ page.extra.summary | safe }}</p>
    {%- endif %}
    <a href="{{ page.permalink | safe }}" class="cta-button">Read More</a>
    </div>
  {%- endfor %}
  </div>
</section>
{% endblock content %}

