<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalabl
e=yes">
    <title>
      {% if section.title %}{{ section.title }} | {% endif %}
      {% if page.title %}{{ page.title }} | {% endif %}
      Laranja's Web Shop
    </title>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>

      <img src="/images/swash1.png" class="w80">
      <h3><a href="/" class="neon">Laranja's Rust Shop</a></h3>
      <p>
        <a href="/articles">articles</a>
        | <a href="/code">code</a>
        | <a href="/contact">contact</a>
        | <a href="/about">about</a>
      </p>
      
      <p>&copy;{{ now() | date(format="%Y") }} <a href="/about/">Frank Laranja</a>
    <footer>
</body>
</html>
