{% extends "base.html" %}

{% block content %}
        <section aria-label="Software Projects">
          <div class="crate-grid">
            {% for crate in section.pages %}
            <div class="card">
              <div class="corners"><div>v{{ crate.extra.version }}</div><div>{{ crate.date }}</div></div>
              {% if crate.extra.image %}
                <picture>
                  <source srcset="{{ crate.permalink | safe }}{{ crate.extra.image }}.avif" type="image/avif">
                  <source srcset="{{ crate.permalink | safe }}{{ crate.extra.image }}.webp" type="image/webp">
                  <img src="{{ crate.permalink | safe}}{{ crate.extra.image }}.png" alt="{{ crate.extra.image_alt | default(value='Icon for ' ~ crate.title) }}" class="crate-image">
                </picture>
              {% endif %}
              <h2>{{ crate.title }}{% if crate.extra.subtitle %} <span class="subtitle">{{ crate.extra.subtitle }}</span>{% endif %}</h2>
                  <ul class="crate-meta" aria-label="Crate metadata">
                    {% for tag in crate.extra.tags %}
                      <li class="badge badge-tag">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                  <p><a href="{{ crate.permalink | safe }}">View Details</a></p>
              <div class="corners"><div>{{crate.extra.crate_type }}</div><div>{{ crate.extra.license }} License</div></div>
            </div>
            {% endfor %}
          </div>

          {{ section.content | safe }}
        </section>
{% endblock content %}

