{% extends "base.html" %}

{% block content %}
<section>
<h1>{{ page.title }}{% if page.extra.subtitle %} <span class="subtitle">{{ page.extra.subtitle }}</span>{% endif %}</h1>
{% if page.extra.image %}
<p><picture>
    <source srcset="{{ page.extra.image | safe }}.avif" type="image/avif">
    <source srcset="{{ page.extra.image | safe }}.webp" type="image/webp">
    <img src="{{ page.extra.image | safe }}.png" alt="{{ page.extra.image_alt }}" class="crate-icon">
  </picture>
{% endif %}
<ul class="crate-meta" aria-label="Crate metadata">
  <li class="badge badge-type">{{ page.extra.crate_type }}</li>
  <li class="badge badge-version">{{ page.extra.version }}</li>
  <li class="badge badge-license">{{ page.extra.license }}</li>
  {% for tag in page.extra.tags %}
    <li class="badge badge-tag">{{ tag }}</li>
  {% endfor %}
</ul>
{{ page.content | safe }}
<div class="crate-links">
{% if page.extra.github %}
  <a href="{{ page.extra.github }}" class="cta-button">GitHub</a>
{% endif %}
{% if page.extra.crates_io %}
   <a href="{{ page.extra.crates_io }}" class="cta-button">crates.io</a>
{% endif %}
{% if page.extra.docs_rs %}
   <a href="{{ page.extra.docs_rs }}" class="cta-button">crates.io</a>
{% endif %}
</div>
</section>
{% endblock content %}

